<div class="mainbar">

    <!-- Page heading -->
    <div class="page-head">
        <!-- Page heading -->
	<h2 class="pull-left">
            Data Master Penyakit
            <!-- page meta -->
        </h2>

	<!-- Breadcrumb -->
	<!-- <div class="bread-crumb pull-right">
	<a href="workspace.html"><i class="icon-home"></i> Home</a>
            Divider
            <span class="divider">/</span> <a href="#" class="bread-current">{{title}}</a>
	</div> -->

	<div class="clearfix"></div>
    </div>
    <!-- Page heading ends -->

    <!-- Matter -->
    <div class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wlightblue">
                        <div class="widget-head">
                            <div class="pull-left">{{title}}</div>
                            <div class="widget-icons pull-right">
                                <a ng-click="cancel()" class="wclose"><i class="icon-remove"></i></a>
		            </div>
                            <div class="clearfix"></div>
			</div>

			<div class="widget-content">
                            <div class="padd">
                                
                                <!-- Form starts.  -->
				<form name="krteriaDetailForm" class="form-horizontal" role="form" class="form-horizontal">
                                    <div class="form-group">
                                        <label style="text-align: right" class="col-md-2 col-form-label">ID Penyakit</label>
                                        <div class="col-md-5">
                                            <input type="text" readonly class="form-control" value="{{penyakitList.id_penyakit}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label style="text-align: right" class="col-md-2 col-form-label">Kode ICD</label>
                                        <div class="col-md-5">
                                            <input type="text" readonly class="form-control" value="{{penyakitList.penyakit_nama}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label style="text-align: right" class="col-md-2 col-form-label">Deskripsi</label>
                                        <div class="col-md-5">
                                            <input type="text" readonly class="form-control" value="{{penyakitList.penyakit_deskripsi}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label style="text-align: right" class="col-md-2 col-form-label">Jenis Penyakit</label>
                                        <div class="col-md-5">
                                            <input type="text" readonly class="form-control" value="{{penyakitList.penyakit_jenis}}">
                                        </div>
                                    </div>
                                </form>
                            </div>
			</div>
                        <div class="widget-foot">
                            <div class="text-right">
                                <button type="button" ng-click="cancel()" class="btn btn-danger">Cancel</button>
                            </div>
			</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Matter ends -->

</div>